/* デフォルトのスタイルをリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* 変数たち */
:root {
  /* color */
  --color-main-black: #000;
  --color-main-white: #fff;

  /* font-weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* font-family */
  --ff-inter: "Inter", sans-serif;
}

body {
  font-family: var(--ff-inter);
  color: var(--color-main-black);
}

/* ヘッダー */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  background-color: var(--color-main-white);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  height: 53px;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.header-menu-item {
  color: var(--color-main-black);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.18px;
}

.header-menu-item-cart-btn {
  padding: 12px 24px;
  background-color: var(--color-main-white);
  border-radius: 100px;
  border: 1px solid var(--color-main-black);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.18px;
  transition: all 0.4s;
}

.header-menu-item-cart-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.header-menu-item-cart-btn span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-menu-item-cart-btn span::before {
  display: inline-block;
  width: 20px;
  height: 21px;
  content: "";
  background-image: url("/icons/basket.svg");
}
